/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Michroma", sans-serif;
    font-size: 1rem;
    transform: scale(1);
    
}

/* NAV BAR */
header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "Micro 5", sans-serif;
    font-size: 23px;
    color: black;
    margin-bottom: 0;
    padding-bottom: 0;
}

    /* Image Sizing */
header #navhome_img {
    width: 75;
    height: 82px;
    margin-bottom: 4px;
}
header #navarchive_img {
    width: 165px;
    height: 80px;
}
header #navprojects_img {
    width: 160px;
    height: 80px;
}
header #navevents_img {
    width: 140px;
    height: 80px;
}

/* CONTAINERS */
.container {
    position: relative;
    text-align: center;
    color: black;
  }
.base{
    margin-right: 150px;
  }
.arch {
    margin: 10px 0; /* Adds a vertical margin to prevent overlap */
}
.social {
    margin-right: 120px;
}
.social-images {
    margin-right: 265px;
}

/* CENTERING TEXT */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
.title-centered {
    word-wrap: break-word;
    white-space: nowrap;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    max-width: 90%; 
    text-align: center; 
    white-space: normal;
  }
.pdate-centered {
    top: 18%;
  }
.titlelist-center {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.archtitle-centered {
    word-wrap: break-word;
    white-space: nowrap;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    max-width: 90%; 
    text-align: center; 
    white-space: normal;
  }
.second-centered {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.meetings-title-center {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.meetings-par-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.date-center {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.submittalk-info-center {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.submittalk-center {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* Remove margin from right most container */
.container:last-child {
    margin-right: 0;
}
.social-bar:last-child {
    margin-right: 0;
}
.socialimg-spacing:last-child {
    margin-right: 0;
}

.pagination {
    text-align: center;
}

/* flex direction row */
/* PIL to enforce picture size */

/* GENERAL */
#grid-spacing {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Space between containers */
    gap: 20px; 
}
#line {
    width: 100%;
    height: 20px;
}
#line2 {
    width: 100%;
    height: 20px;
    margin: 20px 0;
}
#line3 {
    width: 100%;
    height: 5px;
    margin: 20px 0;
}
/* Socials */
#social-bar {
    top: 50%;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#socials-text {
    top:  100%;
}

/* INDEX SECTION */
#lander {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    padding-top: 0;
}

#lander-logo {
    width: 550px;
    height: 550px;
}
#about {
    color: #592B94;
    text-align: center;
    margin: 20px auto;
    width: 80%;
}
#next-meeting {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    position: relative;
    text-align: center;
}
#nextmeeting-title {
    color: black;
    font-size: 23px;
    font-weight: 100;
    margin-bottom: 10px;
    text-align: center;
}
#next-date {
    color: #702EC0;
    font-size: 19px;
    font-weight: 100;
}
#submit-talk {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    position: relative;
    text-align: center;
}
#submittalk-title {
    color: black;
    font-size: 23px;
    font-weight: 100;
    margin-bottom: 10px;
    text-align: center;
}
#submittalk-form {
    color: black;
    max-width: 90%;
    text-align: center;
    margin-top: 20px;
}
#submittalk-info {
    color: black;
    max-width: 90%;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}
#meetings-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#meetings-title {
    color: white;
    font-size: 30px;
    font-weight: 100;
}

#meetings-par {
    color: white;
    max-width: 90%;
    text-align: center;
    margin-top: 20px;
}
/* ARCHIVE SECTION */
#archive-par {
    color: white;
    max-width: 90%;
    text-align: center;
    margin-top: 20px;
    font-size: 19px;
}
#meetingtitle-list {
    color: black;
    max-width: 200%;
    text-align: center;
    margin-top: 20px;
}
#archive_grid {
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    box-sizing: border-box; 
    width: 48%;
}
#archivegrid-spacing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Equal spacing between rows and columns */
    gap: 20px;
    margin: 0 auto; /* Center Container */
}
/* PROJECTS SECTION */
/* Redo project css to conform to events simplistic code */
#project_grid {
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    box-sizing: border-box; 
    width: 98%;
}
/* EVENTS SECTION */
#eventgrid-spacing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Spacing between events */
}

.event-container {
    display: flex;
    flex-direction: column;
}

.event-text {
    flex: 2; /* Adjust ratio as needed */
    display: flex;
    flex-direction: column; /* Ensure elements stack vertically */
    justify-content: center; /* Vertical centering */
    align-items: center; /* Align text horizontally to the left */
    margin-top: -150px;
    text-align: center;
}

.shadow {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.event-image {
    flex: 1; /* Adjust ratio to control image size */
    display: flex;
    justify-content: center; /* Center-align image horizontally */
    align-items: center; /* Center-align image vertically */
    border: 15px black;
}

.event-image img {
    max-width: 100%; /* Ensures the image is responsive */
    height: auto;
}

/* RECTANGLES */
/* Shared styles for purple rectangles */
.rect-purple {
    background-color: #953FFF;
    border: 4px solid black;
}

/* Shared styles for orange rectangles */
.rect-orange {
    background-color: #F3A00F;
    border: 4px solid black;
}

/* Individual dimensions */
.rect-lander, .rect-meet {
    width: 1600px;
}

.rect-lander {
    height: 700px;
}

.rect-meet {
    height: 300px;
}

.rect-archive1, .rect-projects {
    margin-left: 50px;
    margin-right: 50px;
    width: 1800px;
}

.rect-archive1 {
    height: 200px;
}

.rect-projects {
    height: 300px;
}

.rect-past-talk {
    width: 800px;
    height: 250px;
}

.rect-proj {
    width: 1400px;
    height: 350px;
}

.rect-event {
    width: 1400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    padding: 20px; 
    align-items: center;
    gap: 15px; 
}

.rect-nextmeet, .rect-submit {
    width: 600px;
    height: 300px;
}

/* MEDIA FORMATTING */
@media (max-width: 768px) {
    .base {
        margin-right: 0;
        margin-bottom: 10px;
    }
    header nav .container {
        flex: 1 1 100%;
    }
    #lander-logo {
        width: 100%;
        height: auto;
    }
    #meetings-section {
        flex-direction: column;
    }
    body {
        font-size: 0.9rem;
    }
    .container.arch {
        width: 100%; /* Full-width for smaller screens */
        margin: 10px 0; /* Add vertical spacing between stacked containers */
    }
}