/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Michroma", sans-serif;
    font-size: 1rem;
    background-color: white;
    padding: 0 60px;
}

/* NAV BAR */
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Micro 5", sans-serif;
    font-size: 23px;
}

/* Image Sizing */
header #navhome_img {
    max-width: 75px;
    height: 82px;
    margin-bottom: 4px;
}
header #navarchive_img {
    width: 165px;
    height: 80px;
}
header #navprojects_img {
    width: 160px;
    height: 80px;
}
header #navevents_img {
    width: 140px;
    height: 80px;
}

.social {
    margin-right: 120px;
}
.social-images {
    margin-right: 265px;
}

/* CENTERING TEXT */
.titlelist-center {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.archtitle-centered {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%; 
  }

/* Remove margin from right most container */

.social-bar:last-child {
    margin-right: 0;
}
.socialimg-spacing:last-child {
    margin-right: 0;
}

/* PIL to enforce picture size */

/* GENERAL */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
.head-container {
    display: flex;
    flex-direction: column;
}
.text {
    flex: 2; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    text-align: center;
    position: relative;
}
.pagination {
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    position: relative;
}
.spacing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.row {
    flex-wrap: wrap;
    flex-direction: row;
}
.nav-row {
    flex-direction: row;
    gap: 20%;
    align-items: normal;
}
.social-row {
    flex-direction: row;
    gap: 5%;
    align-items: normal;
}
.pt-row {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: normal;
    gap: 5%;
}
.nav-text {
    color: black;
    margin-right: 5%;
    margin-left: 5%;
    position: relative;
    text-align: center;
    flex-direction: unset;
}
.column {
    flex-direction: column;
}
.lander {
    margin-top: -10px;
}
.shadow {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
#head-par {
    color: white;
    max-width: 90%;
    text-align: center;
    margin-top: 20px;
    font-size: 19px;
}
#line {
    width: 100%;
    height: 20px;
}
#line2 {
    width: 100%;
    height: 20px;
    margin: 20px 0;
}
#line3 {
    width: 100%;
    height: 5px;
    margin: 20px 0;
}
#img-border {
    border: 2px solid black;
}
/* Socials */
#social-bar {
    top: 50%;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#socials-text {
    top:  100%;
}

/* INDEX SECTION */

#lander-logo {
    max-width: 550px;
    max-height: 550px;
}
.about-text {
    color: #592B94;
}
.lander-text {
    color: white;
    font-size: 30px;
}
.indexnmst-title {
    text-align: center;
}
.meetings-title {
    margin-top: -5%;
    color: white;
}
.meetings-description {
    margin-top: 2%;
    color: white;
}
.nextmeeting-description {
    margin-top: -37%;
    color: #592B94;
}
.nextmeeting-meetings {
    margin-top: 5%;
}
.submittalk-info {
    margin-top: -10%;
}
.uncenter {
    text-align: left;
}
/* ARCHIVE SECTION */

.archive-text {
    margin-top: -100px;
}
/* PROJECTS SECTION */

.project-text {
    margin-top: -140px;
}
/* EVENTS SECTION */

.event-text {
    margin-top: -180px;
}

.event-image {
    flex: 1; /* Adjust ratio to control image size */
    display: flex;
    justify-content: center; /* Center-align image horizontally */
    align-items: center; /* Center-align image vertically */
    border: 15px black;
}

.event-image img {
    max-width: 100%; /* Ensures the image is responsive */
    height: auto;
}

/* RECTANGLES */
.rect-purple {
    /* background-color: #953FFF; */
    background-color: #8F6BBD;
    border: 4px solid black;
}
.rect-orange {
    background-color: #F3A00F;
    border: 4px solid black;
}

.rect-base {
    display: flex;
    flex-direction: column;
    padding: 20px; 
    align-items: center;
    gap: 15px;
}

.rect-head {
    max-width: 1600px;
    height: 300px;
}

.rect-lander {
    height: 700px;
    width: 1600px;
}

.rect-meet {
    height: 300px;
    max-width: 1600px;
}

.rect-past-talk {
    width: 700px;
    height: 250px;
    margin-bottom: 5%;
}

.rect-proj {
    width: 1400px;
    height: 300px;
}

.rect-event {
    width: 1400px;
    height: 400px;
    flex-direction: row;
}

.rect-nextmeet, .rect-submit {
    width: 600px;
    min-height: 300px;
}

/* MEDIA FORMATTING */
@media (max-width: 1600px) {
    .rect-lander, .rect-head {
        width: 1400px;
    }
}
@media (max-width: 1400px) {
    .rect-lander, .rect-head, .rect-proj, .rect-event {
        width: 1200px;
    }
}
@media (max-width: 1200px) {
    .rect-lander, .rect-head, .rect-proj, .rect-event {
        width: 1000px;
    }
    .nav-row {
        gap: 10%;
    }
}
@media (max-width: 1000px) {
    .rect-lander, .rect-head, .rect-proj {
        width: 800px;
    }
    .nav-row {
        gap: 0%;
    }
    .rect-event {
        width: 800px;
        flex-direction: column;
    }
}
@media (max-width: 800px) {
    .rect-lander, .rect-proj, .rect-event {
        width: 600px;
    }
    .rect-head {
        width: 725px;
    }
    .nav-row {
        gap: 2.5%;
    }
    .nav-text {
        margin-left: 0%;
        margin-right: 0%;
    }
    #lander-logo {
        max-width: 450px;
        max-height: 450px;
    }
}

/* @media (max-width: 1044px) {
    .nav-row {
        flex-direction: column;
    }
    .nav-text {
        flex-direction: column;
    }
} */

@media (max-width: 768px) {
    .base {
        margin-right: 0;
        margin-bottom: 10px;
    }
    header nav .container {
        flex: 1 1 100%;
    }
    #lander-logo {
        width: 100%;
        height: auto;
    }
    #meetings-section {
        flex-direction: column;
    }
    body {
        font-size: 0.9rem;
    }
    .container.arch {
        width: 100%; /* Full-width for smaller screens */
        margin: 10px 0; /* Add vertical spacing between stacked containers */
    }
}