/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Michroma", sans-serif;
    font-size: 1rem;
    background-color: white;
    padding: 0 60px;
}

/* NAV BAR */
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Micro 5", sans-serif;
    font-size: 23px;
}

/* Image Sizing */
header #navhome_img {
    max-width: 75px;
    height: 82px;
    margin-bottom: 4px;
}
header #navarchive_img {
    max-width: 165px;
    height: 80px;
}
header #navprojects_img {
    max-width: 160px;
    height: 80px;
}
header #navevents_img {
    max-width: 140px;
    height: 80px;
}

.social {
    margin-right: 120px;
}
.social-images {
    margin-right: 265px;
}

/* CENTERING TEXT */
.titlelist-center {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.archtitle-centered {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%; 
  }

/* Remove margin from right most container */

.social-bar:last-child {
    margin-right: 0;
}
.socialimg-spacing:last-child {
    margin-right: 0;
}

/* PIL to enforce picture size */

/* GENERAL */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
.head-container {
    display: flex;
    flex-direction: column;
}
.text {
    flex: 2; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    text-align: center;
    position: relative;
}
.pagination {
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    position: relative;
}
.spacing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.row {
    flex-wrap: wrap;
    flex-direction: row;
}
.nav-row {
    flex-direction: row;
    gap: 20%;
    align-items: normal;
}
.social-row {
    flex-direction: row;
    gap: 5%;
    align-items: normal;
}
.pt-row {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: normal;
    gap: auto;
}
.nav-text {
    color: black;
    margin-right: 5%;
    margin-left: 5%;
    position: relative;
    text-align: center;
    flex-direction: unset;
}
.column {
    flex-direction: column;
}
.lander {
    margin-top: -10px;
}
.shadow {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
#head-par {
    color: white;
    max-width: 90%;
    text-align: center;
    margin-top: 20px;
    font-size: 19px;
}
#line {
    width: 100%;
    height: 20px;
}
#line2 {
    width: 100%;
    height: 20px;
    margin: 20px 0;
}
#line3 {
    width: 100%;
    height: 5px;
    margin: 20px 0;
}
#img-border {
    border: 2px solid black;
}
/* Socials */
#social-bar {
    top: 50%;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#socials-text {
    top:  100%;
}

/* INDEX SECTION */

#lander-logo {
    max-width: 550px;
    max-height: 550px;
}
.about-text {
    color: #592B94;
}
.lander-text {
    color: white;
    font-size: 30px;
}
.indexnmst-title {
    text-align: center;
}
.meetings-title {
    margin-top: -5%;
    color: white;
}
.meetings-description {
    margin-top: 2%;
    color: white;
}
.nextmeeting-description {
    position: absolute;
    top: -2%;
    color: #592B94;
}
.nextmeeting-meetings {
    margin-top: 5%;
    font-size: .9rem;
}
/* .submittalk-info {
    margin-top: -10%;
} */
.subtmittalk-text {
    margin-bottom: -20%;
}
.text-left {
    flex: 2; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: start; 
    text-align: left;
    position: relative;
}
.text-center {
    text-align: center !important;
}
/* .form-text {
    margin-top: -10%;
} */
/* ARCHIVE SECTION */
.archive-title {
    position: absolute;
    top: 5%;
}
.archive-text {
    position:initial;
}
/* PROJECTS SECTION */
.project-title {
    position: absolute;
    top: 5%;
}
.project-date {
    position: absolute;
    top: 15%;
}
.project-text {
    position: initial;
}
.project-description{
    font-size: 1rem;
}
/* EVENTS SECTION */
.event-title {
    position: absolute;
    top: 5%;
}
.event-date {
    position: absolute;
    top: 15%;
}
.event-text {
    position: initial;
}

.event-image {
    flex: 1; /* Adjust ratio to control image size */
    display: flex;
    justify-content: center; /* Center-align image horizontally */
    align-items: center; /* Center-align image vertically */
    border: 15px black;
}

.event-image img {
    max-width: 100%; /* Ensures the image is responsive */
    height: auto;
}

/* RECTANGLES */
.rect-purple {
    background-color: #8F6BBD;
    border: 4px solid black;
}
.rect-orange {
    background-color: #F3A00F;
    border: 4px solid black;
}
.rect-base {
    display: flex;
    flex-direction: column;
    padding: 20px; 
    align-items: center;
    gap: 15px;
}
.rect-socials {
    padding: 20px;
}

.rect-base-nogap {
    display: flex;
    flex-direction: column;
    padding: 20px; 
    align-items: center;
}
.rect-head {
    max-width: 1600px;
    height: 300px;
}

.rect-lander {
    height: 700px;
    width: 1600px;
}

.rect-meet {
    height: 300px;
    max-width: 1600px;
}

.rect-past-talk {
    width: 650px;
    height: 250px;
    margin-bottom: 5%;
}

.rect-proj {
    width: 1400px;
    height: 300px;
}

.rect-event {
    width: 1400px;
    height: 400px;
    flex-direction: row;
}

.rect-nextmeet, .rect-submit {
    width: 600px;
    height: 300px;
}

/* MEDIA FORMATTING */
@media (max-width: 1650px) {
    .rect-lander, .rect-head {
        width: 1400px;
    }
}
@media (max-width: 1450px) {
    .rect-lander, .rect-head, .rect-proj, .rect-event {
        width: 1200px;
    }
    .rect-past-talk{
        width: 550px;
    }
}
@media (max-width: 1250px) {
    .rect-lander, .rect-head, .rect-proj, .rect-event {
        width: 1000px;
    }
    .nav-row {
        gap: 10%;
    }
    .rect-past-talk{
        width: 450px;
    }
    .archive-title, .archive-description{
        font-size: .9rem;
    }

}
@media (max-width: 1050px) {
    .rect-lander, .rect-head, .rect-proj {
        width: 800px;
    }
    .nav-row {
        gap: 0%;
    }
    .rect-event {
        width: 800px;
        height: 600px;
        flex-direction: column;
    }
    .rect-past-talk{
        width: 350px;
    }
    .archive-title, .archive-description{
        font-size: .8rem;
    }
    .event-date{
        position: static;
    }
    .event-image img{
        max-width: 60%;
    }

}

@media (max-width: 850px) {
    .rect-lander, .rect-proj, .rect-event {
        width: 600px;
    }
    /* .rect-nextmeet, .rect-submit {
        max-width: 500px;
    } */
    .rect-head {
        width: 725px;
    }
    .nav-row {
        gap: 2.5%;
    }
    .nav-text {
        margin-left: 0%;
        margin-right: 0%;
    }
    #lander-logo {
        max-width: 450px;
        max-height: 450px;
    }
    header nav .container {
        flex: 1 1 100%;
    }
    .rect-past-talk{
        width: 550px;
    }
    .archive-title, .archive-description{
        font-size: .75rem;
    }
    .project-description{
        font-size: .75rem;
    }
    .pgithub {
        font-size: .9rem;
    }
    .event-title{
        font-size: .99rem;
    }
    .event-date{
        margin-top: -10%;
    }
}
@media (max-width: 740px) {
    .rect-head{
        width: 650px;
    }
    .rect-past-talk{
        width: 550px;
    }

}
@media (max-width: 650px) {
    .rect-lander, .rect-proj, .rect-event, .rect-nextmeet, .rect-submit, .rect-head{
        width: 550px;
    }
    .nav-row {
        gap: .5%;
    }
    .rect-past-talk{
        width: 500px;
    }
}

@media (max-width: 560px) {
    .rect-lander, .rect-proj, .rect-event, .rect-nextmeet, .rect-submit, .rect-head{
        width: 450px;
    }
    .rect-lander {
        height: 550px;
    }
    .rect-head {
        height: 250px;
    }
    .lander-text {
        font-size: 25px;
    }
    #lander-logo {
        max-width: 350px;
        max-height: 350px;
    }
    .rect-past-talk{
        width: 400px;
    }
    .archive-title, .archive-description{
        font-size: .65rem;
    }
    .archive-ov {
        font-size: .9rem;
    }
    header #navhome_img {
        max-width: 60px;
        height: 67px;
    }
    header #navarchive_img {
        max-width: 150px;
        height: 65px;
    }
    header #navprojects_img {
        max-width: 145px;
        height: 65px;
    }
    header #navevents_img {
        max-width: 125px;
        height: 65px;
    }
    .rect-socials {
        gap: 0%;
    }
    .meetings-description, .about-text {
        font-size: .9rem;
    }
    .indexnmst-title {
        font-size: 1.3rem;
    }
    .socialbar-text {
        font-size: .8rem;
    }
    .social-row {
        gap: 2%;
    }
    .projheader-text{
        font-size: .8rem;
    }
    .project-title, .project-date{
        font-size: .96rem;
    }
    .project-description{
        font-size: .7rem;
    }
    .pgithub {
        font-size: .8rem;
    }
    .eventdesc {
        font-size: .9rem;
    }
    /* .event-text{
        position: relative;
    } */
    .event-description{
        font-size: .9rem;
    }
    .event-image img{
        max-width: 80%;
    }
    
}
@media (max-width: 470px) {
    .rect-lander, .rect-meet, .rect-proj, .rect-event, .rect-nextmeet, .rect-submit, .rect-head{
        width: 300px;
    }
    .rect-lander {
        height: 350px;
    }
    .rect-head {
        height: 250px;
    }
    .lander-text {
        font-size: 15px;
    }
    #lander-logo {
        max-width: 250px;
        max-height: 250px;
    }
    .rect-nextmeet, .rect-submit {
        height: 250px;
    }
    .nav-text {
        font-size: .95rem;
    }
    .nav-row {
        gap: 2.5%;
    }
    .rect-past-talk{
        width: 250px;
        height: 200px;
    }
    .archive-title, .archive-description{
        font-size: .55rem;
    }
    .archive-ov {
        font-size: .6rem;
    }
    header #navhome_img {
        max-width: 40px;
        height: 47px;
    }
    header #navarchive_img {
        max-width: 130px;
        height: 45px;
    }
    header #navprojects_img {
        max-width: 125px;
        height: 45px;
    }
    header #navevents_img {
        max-width: 105px;
        height: 45px;
    }
    .meetings-description, .about-text {
        font-size: .7rem;
    }
    .indexnmst-title {
        font-size: .9rem;
    }
    .socialbar-text {
        font-size: .5rem;
    }
    .social-row {
        gap: 0%;
        align-items: center;
    }
    #socialbar-img {
        width: 90%;
        height: 90%;
    }
    .submittalk-info {
        font-size: .6rem;
    }
    .nextmeeting-description {
        font-size: .9rem;
    }
    .forum-title-text {
        font-size: .6rem;
    }
    input {
        width:130%;
    }
    .auto-width {
        width: 49%;
    }
    .button-size {
        font-size: 60%;
    }
    .projheader-text{
        font-size: .7rem;
    }
    .project-title, .project-date{
        font-size: .9rem;
    }
    .project-description{
        font-size: .6rem;
    }
    .pgithub {
        font-size: .6rem;
    }
    .eventdesc {
        font-size: .75rem;
    }
    .event-description{
        font-size: .8rem;
    }

}