<!-- HTML code under construction -->
<!-- Work done by Christofer Huber -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CASTLE Lab</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Michroma&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Micro+5&display=swap" rel="stylesheet">

        <!-- Use for setting up a font -->
        <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet"> -->
    </head>
    <body>
        
        <!-- HEADER/LOGO SECTION -->
        <header id="header-section">
            <!-- Spacing -->
            <div id="line"></div>
            <!-- Navigation Bar -->
            <nav>
                <a href="{% url 'index' %}" class="container base">
                    <img src="../static/images/castlealone.png" alt="Link to Home Page" id="navhome_img">
                </a>                  
                <a href="{% url 'archive' %}" class="container base">
                    <img src="../static/images/cloud5.png" alt="Link to Archive Page" id="navarchive_img">
                    <span class="centered">Archive</span>
                </a>
                <a href="{% url 'projects' %}" class="container base">
                    <img src="../static/images/cloud4.png" alt="Link to Projects Page" id="navprojects_img">
                    <span class="centered">Projects</span>
                </a>
                <a href="{% url 'events' %}" class="container base">
                    <img src="../static/images/cloud3.png" alt="Link to Events Page" id="navevents_img">
                    <span class="centered">Events</span>
                </a>
            </nav>
        </header>
        <h1>EVENTS</h1>
    </body>
</html>