<!-- HTML code under construction -->
<!-- Work done by Christofer Huber -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CASTLE Lab</title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Michroma&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Micro+5&display=swap" rel="stylesheet">

        <!-- Use for setting up a font -->
        <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet"> -->
    </head>
    <body>
        <!-- HEADER/LOGO SECTION -->
        <header id="header-section">
            <!-- Spacing -->
            <div id="line"></div>
            <!-- Navigation Bar -->
            <nav>
                <a href="{% url 'index' %}" class="container base">
                    <img src="../static/images/castlealone.png" alt="Link to Home Page" id="navhome_img">
                </a>                  
                <a href="{% url 'archive' %}" class="container base">
                    <img src="../static/images/cloud5.png" alt="Link to Archive Page" id="navarchive_img">
                    <span class="centered">Archive</span>
                </a>
                <a href="{% url 'projects' %}" class="container base">
                    <img src="../static/images/cloud4.png" alt="Link to Projects Page" id="navprojects_img">
                    <span class="centered">Projects</span>
                </a>
                <a href="{% url 'events' %}" class="container base">
                    <img src="../static/images/cloud3.png" alt="Link to Events Page" id="navevents_img">
                    <span class="centered">Events</span>
                </a>
            </nav>
            <!-- Lander Section -->
             <div  id="lander" class="container base">
                <div class="rect-lander"></div>
                <span class="title-centered">The Alfred University<br>Computer and Software Technology<br>Learning Environment</span>
                <img src="../static/images/a_castlelogo_official.png" id="lander-logo" class="second-centered" alt="CASTLE Lab Logo">

             </div>
            
        </header>
        <!-- Socials Bar -->
        <nav id="social-bar">
            <span class="container social" id="socials-text">CASTLE Lab GitHub</span>
            <span class="container social" id="socials-text">CASTLE Lab Discord</span>
            <span class="container social" id="socials-text">Alfred CS Website</span>
            <span class="container social" id="socials-text">Alfred Axiom Club</span>

        </nav>
        <nav id="social-bar">
            <a href="https://github.com/AUCSLAB" class="container social-images">
                <img src="../static/images/github-icon.png" alt="Link to Github" id="socialbar-img">
            </a>                  
            <a href="https://discord.com/invite/z9CBFQzA" class="container social-images">
                <img src="../static/images/discord-icon.png" alt="Link to Discord" id="socialbar-img">
            </a>
            <a href="https://www.alfred.edu/academics/undergrad-majors-minors/computer-science.cfm" class="container social-images">
                <img src="../static/images/au_icon.png" alt="Link to AUCS Website" id="socialbar-img">
            </a>
            <a href="https://auconnect.alfred.edu/organization/mathandcsclub" class="container social-images">
                <img src="../static/images/aucs_icon_small.png" alt="Link to Axiom Club" id="socialbar-img">
            </a>
        </nav>
        <!-- About Section -->
        <div id="line2"></div>
         <p id="about">
            Welcome to the Alfred University Computer Science Lab website!<br>
            The place to review topics discussed every week and access related sources.<br>
            Join weekly in Myers 107 when classes are in session.<br>
            Everyone is welcome to attend a CASTLE Lab meeting and host their own talk.<br>
            Feel free to submit a talk on our website or give your talk on the spot during the meeting!<br>
         </p>
         <div id="line2"></div>
         <div class="container base" id="meetings-section">
            <div class="rect-meet"></div>
            <span class="meetings-title-center" id="meetings-title">Meetings</span>
            <p class="meetings-par-center" id="meetings-par">
                Meetings are held every week and any upcoming talks can be viewed here.<br>
                 Meetings are a great way for students to explore Computer Science beyond the classroom with discussions, guest speakers, and planning events or projects.<br>
                Join weekly in Myers 107 when classes are in session and join our Discord to get announcements on future meetings.<br>
            </p>
         </div>
         <div id="line2"></div>
        
        <!-- <div id="inline-spacing-title">
            <span id="nextmeeting-title">Next Meeting:</span>
            <span id="submittalk-title">Submit Your Own Talk Here:</span>
        </div> -->
        <div id="grid-spacing">
            <div class="container base" id="next-meeting">
                <span id="nextmeeting-title">Next Meeting</span>
                <div class="rect-nextmeet"></div>
                <span class="date-center" id="next-date">
                    {% if meeting %}
                        {{meeting.type}} Meeting on<br> {{ specific_date }} at {{ meeting.time|date:"P" }}
                    {% else %}
                        No meeting has been planned yet, stay tuned!
                    {% endif %}
                </span>
                <ul class="titlelist-center" id="meetingtitle-list">
                    {% if meeting.type == 'Speaker' %}
                        {% for talk in talks %}
                            {% if talk.date == meeting.date %}
                                <p>{{ talk.title }} by {{ talk.speaker }}</p>
                            {% endif %}
                        {% endfor %}
                        <!-- <p>Text here for a short desc of what Speaker is presenting</p> -->
                    {% else %}
                            {% if talks %}
                                {% for talk in talks %}
                                    {% if talk.date == meeting.date %}
                                        <li>{{ talk.title }} by {{ talk.speaker }}</li>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <p>Stop in for Student and Professor led talks!</p>
                            {% endif %}
                    {% endif %}
                </ul>
                <!-- <span class="date-center" id="next-date"> {{ specific_date }} at {{ meetings.time|date:"P" }} </span>
                <ul class="titlelist-center" id="meetingtitle-list">
                    {% for talk in talks %}
                        <li>{{ talk.title }} by {{ talk.speaker }}</li>
                    {% endfor %}
                </ul> -->

            </div>
            <div class="container base" id="submit-talk">
                <span id="submittalk-title">Submit Your Own Talk Here</span>
                <div class="rect-submit"></div>
                <p class="submittalk-info-center" id="submittalk-info">
                    If you have your own talk to give, this is a great way to do it!
                    Input your name and title of the talk you want to give and it will be checked with an administrator.
                    After approved, it will be added to next weeks list.
                </p>
                <form class="submittalk-center" id="submittalk-form" action="">
                    <span>Name:</span>
                    <input type="text">
                    <br>
                    <span>Title of Talk:</span>
                    <input type="text">
                    <br>
                    <button>Submit Talk!</button>

                </form>

            </div>
        </div>
         <div id="line2"></div>

        <script src="script.js"></script>
    </body>
</html>